<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="./IdeaProjects/TestNG_Tutorial">
        <classes>
            <class name="test.Introduction">
                <methods>
                    <include name="Demo"/>
                    <include name="TestCase2"/>
                </methods>
            </class>
            <class name="test.Module2">
                <methods>
                    <include name="test1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>