<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="url" value="https://www.baseurl.com"/>
    <test name="Intro Modules">
        <classes>
            <class name="test.Introduction">
                <methods>
                    <include name="Demo"/>
                    <include name="TestCase2"/>
                </methods>
            </class>
            <class name="test.Module2">
                <methods>
                    <include name="test1"/>
                </methods>
            </class>
            <class name="test.Module3">
                <parameter name="url" value="https://www.baseurl.com/module3url"/>
                <parameter name="apikey" value="abc123"/>
            </class>
        </classes>
    </test>
    <test name="Car Loan">
        <classes>
            <class name="test.Module4">
                <methods>
                    <exclude name="Mobile.*"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>